APP_HOSTNAME=cost-calculator.example.internal
APP_IP_ADDRESS=192.0.2.10
COST_DB_SERVER=sqlserver.example.internal,1433
COST_DB_USERNAME=cost_app_access
COST_DB_DRIVER=ODBC Driver 18 for SQL Server
COST_ERP_DATABASE=M1_ME
COST_APP_STORAGE_MODE=database
COST_APP_DATABASE=M2_ME
COST_APP_SCHEMA=dbo
COST_DB_TRUST_SERVER_CERTIFICATE=false
COST_DB_CONNECTION_TIMEOUT_SECONDS=5
COST_APP_IMAGE=ghcr.io/csolomonson/meziere-cost-calculator:v1.0.0@sha256:0000000000000000000000000000000000000000000000000000000000000000
APP_VERSION=v1.0.0
APP_REPOSITORY=https://github.com/csolomonson/Meziere-Cost-Calculator
COST_REPORT_COMPANY_NAME=Meziere Enterprises
