{
  auto_https disable_redirects
  default_sni {$APP_IP_ADDRESS}
}

{$APP_HOSTNAME}:443, {$APP_IP_ADDRESS}:443 {
  tls internal
  encode zstd gzip
  reverse_proxy app:8000
  header {
    Strict-Transport-Security "max-age=31536000"
    -Server
  }
}
