{
  auto_https disable_redirects
  default_sni {$APP_HOSTNAME}
  servers :443 {
    protocols h1 h2
  }
}

https://{$APP_HOSTNAME}, https://{$APP_IP_ADDRESS} {
  tls internal
  encode zstd gzip

  # BEGIN shopify-order-listener managed route
  handle /sales-orders* {
    reverse_proxy 127.0.0.1:8010
  }

  handle {
    reverse_proxy 127.0.0.1:8000
  }
  # END shopify-order-listener managed route

  header {
    Strict-Transport-Security "max-age=31536000"
    -Server
  }
}
